# Ігноруємо глобальні Visual Studio файли
.vs/

# Ігноруємо папки .vs в проекті API
api/.vs/

# Ігноруємо всі папки bin і obj в проекті API та його підкаталогах
api/**/bin/
api/**/obj/

# Можна також додати інші загальні винятки
*.user
*.suo
*.log
*.lock
*.vspscc
*.vssscc
*.sln.docstates
